@import '/src/styles/index.css';

.containerCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    gap: 10px;
    padding: 10px;
    margin-top: -100px;
}

.containerImage {
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1;
    height: 70%;
    transition: .5s ease-in-out;
    text-decoration: none;
    color: var(--black);
}

.darkModeActived {
    color: var(--white);
}

.slide {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px #999;
    width: 18vw;
    height: 70vh;
    object-fit: cover;
    transition: .5s ease-in-out;
    scale: .9;
}

.containerImage:hover {
    z-index: 99;
}

.containerImage:hover .slide {
    scale: 1.2;
    width: 40vw;
    z-index: 1;
    filter: brightness(50%);
  }

.imageTextContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: .5s ease-in-out;
    color: var(--white);
}

.containerImage:hover .imageTextContainer {
    opacity: 1;
    z-index: 2;
    cursor: none;
}

.textImg, .summaryText {
    text-align: center;
    width: 400px;
}

.textImg {
    font-size: var(--min-font);

    > p {
        text-transform: uppercase;
        font-size: var(--mid-font);
        font-weight: var(--mid-font-w);
        letter-spacing: 10px;
    }
}

.summaryText {
    letter-spacing: 5px;
    line-height: 1.5em;
}

@media screen and (max-width: 430px) {
    .containerCarousel {
        flex-direction: column;
    }

    .containerImage {
        width: 100vw;
        height: 50vh;
    }

    .slide {
        width: 100vw;
        height: 100%;
    }

    .containerImage:hover .slide {
        width: 100vw;
        scale: .9;
        filter: none;
      }
    .containerImage:hover .imageTextContainer {
        opacity: 0;
        /* cursor: none; */
    }
}