@import '/src/styles/index.css';

.containerHero {
    width: 100vw;
    height: 100vh;
    padding-top: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
    overflow: hidden;
}

.DarkModeActived {
    background-color: var(--background-secondary);

    > h2 {
        color: var(--white);
    }
}

.FD {
    font-size: var(--max-font);
    font-weight: var(--high-font-w);
    letter-spacing: 10px;
    position: absolute;
    top: 10vh;
    right: 5vw;
    transition: .5s ease-in-out;
}

.containerHeroText {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% + 60px);
    margin-top: -60px;
    z-index: 1;
}

.containerVid {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.blackholeVid {
    object-fit: cover;
    filter: contrast(150%) saturate(80%);
}

.heroTitle {
    color: var(--white);
    font-size: var(--high-font);
    font-weight: var(--max-font-w);
    letter-spacing: 40px;
    mix-blend-mode: difference;
    z-index: 1;
    position: absolute;
    top: 40%;
    
}

.heroSubtitle {
    position: absolute;
    bottom: 40%;


    color: var(--white);
    font-size: var(--mid-font);
    font-weight: var(--min-font-w);
    z-index: 1;
    mix-blend-mode: difference;
}

.scrollSpinner {
    position: absolute;
    bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;

    z-index: 10;

    > img {
        position: absolute;
        width: 100px;

        &:last-of-type {
            width: 30px;
        }
    }
}

.textSpinner {
    animation-name: spin;
    animation-timing-function:linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 430px){
    .FD {
        width: 100vw;
        font-size: var(--mid-font);
        letter-spacing: 10px;
        position: absolute;
        top: 10vh;
        z-index: 9999;
        text-align: center;
    }

    .heroTitle {
        font-size: var(--mid-font);
        text-align: center;
        letter-spacing: 20px;
        top: 50%;
    }

    .heroSubtitle {
        bottom: 20%;
        font-size: var(--min-font);
        font-weight: var(--high-font-w);
        text-align: center;
        letter-spacing: 6px;
    }
}