@import "./index.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: Melodrama;
    font-size: var(--small-font);
    font-weight: var(--min-font-w);
    text-decoration: none;
  }

  body {
    background-color: var(--background-primary);
    cursor: none;
  }

  .darkModeActived {
    color: var(--white);
    background-color: var(--background-secondary);
  }