@import '/src/styles/index.css';

.containerBand {
    position: relative;
    bottom: -5%;
    width: 150%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@keyframes slide {
    from { transform: translateX(0%);}
    to { transform: translateX(-100%);}
}

.band1, .band2 {
    white-space: nowrap;
    overflow: hidden;
    background-color: var(--bold-gray);
    width: 100vw;
    height: 60px;
    padding: 15px 0;
    display: flex;
    align-items: center;

    > div {
        display: inline-block;
    }
}

.band1 {
    > div {
        animation: 40s slide infinite linear;

        > img {
            height: 40px;
            width: 50px;
            object-fit: contain;
            margin: 0 55px;

            &:first-of-type {
                width: 80px;
            }
        }
    }
}

.band2 {
    > div {
        animation: 30s slide infinite linear;

        > span {
            font-weight: var(--mid-font-w);
            font-size: var(--small-font);
            margin: auto 60px;
        }
    }
}