@import '/src/styles/index.css';

.separatorLine {
    pointer-events: none;
}

.containerNavbar {
    z-index: 9999;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: fixed;
    background-color: rgba(f, f, f, 0.5);
    transition: .5s ease-in-out;
}

.darkModeActived {
    border-color: var(--white);

    > div > span { color: var(--white);}
    > div > div > div > div{ background-color: var(--white);}
    > div > div > a { color: var(--white);}
}

.ContainerNavbarAndMenu {
    transition: .5s ease-in-out !important;
    height: 250px;
}

.containerBar {
    width: 100%;
    display: flex;
    justify-content: space-between;

    > span {
        transition: .5s ease-in-out;    
        letter-spacing: 5px;
    }
}

.containerBtnMenu {
    width: auto;
    height: auto;
    scale: .8;
    transition: .3s ease-in-out;
    display: flex;
    align-items: center;

    &:hover {
        scale: 1;
    }
}

.containerMenu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    
    > div {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 10px;
        position: relative;
        transition: .6s ease-in-out;
        gap: 5px;
        
        > a {
            display: flex;
            justify-content: left;
            transition: .3s ease-in-out;
            opacity: 0;
            border-radius: 5px;
            
            &:last-of-type {
                margin-top: 10px;
            }
        }
    }
}

.containerMenuActived {
    pointer-events: auto;

    background-color: var(--black-menu);
    border-radius: 20px;
    overflow: hidden;

    > div {
        > a {
            font-weight: var(--min-font-w);
            left: 5vw;
            opacity: 1;
            padding-left: 2vw;

            &:hover {
                background-color: var(--black-menu-hover);
            }
        }
    }
}

.cv {
    color: var(--black);
}

@media screen and (max-width: 430px){
    .containerNavbar {
        position: fixed;
        width: 100vw;
        height: 40px;
        padding: 5px;
        transition: all .3s;
    }
    
    .ContainerNavbarAndMenu {
        height: 250px;
        width: 100vw;
        transition: all .3s;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}