@import '/src/styles/index.css';

.containerCourses {
    width: 100vw;
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: .5s ease-in-out;
    
    position: relative;
    padding-bottom: 400px;
}

.darkModeActived {
    color: var(--white);
    background-color: var(--background-secondary);
    
    > div > div {
        border-color: var(--white);
        
        &:first-of-type {
            border-color: var(--white);
        }

        > a {
            color: #fff;
        }
    }
}

.coursesHeader {
    font-size: var(--high-font);
    font-weight: var(--mid-font-w);
    text-align: right;
    letter-spacing: 25px;
}

.courses {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.course {
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid var(--black);
    letter-spacing: 5px;
    padding: 20px;
    
    > a {
        color: var(--black);
        display: flex;
        justify-content: space-between;
        align-items: center;

        > h3 {
            font-size: var(--small-font);
    
        }
    }
    &:first-of-type {
        border-top: 2px solid var(--black);
    }

     > :nth-child(2) {
        width: 90vw;
        padding-left: 50px;
    }


}

.bgGreen {
    width: 100vw;
    position: absolute;
    top: -800px;
    z-index: -2;
    pointer-events: none;
}

@media screen and (max-width: 430px) {
    .containerCourses {
        height: auto;
    }
    .titleCourses {
        margin-bottom: 1em;
    }
    .coursesHeader {
        text-align: center;
    }

    .course :nth-of-type(1) :nth-of-type(1)  {
        display: none;
    }
}