.containerBtn {
    width: 30px;
    height: 15px;

    display: flex;
    flex-direction: column;
    position: relative;
    transition: .5s ease-in-out;
}

.btnLineTop, .btnLineMid, .btnLineBot {
    width: 30px;
    height: 2px;
    background-color: var(--black);
    transition: .5s ease-in-out;
}

.btnLineTop {
    position: absolute;
    bottom: 100%;
}

.btnLineTopActived {
    transform: rotate(225deg);
    bottom: 50%
}


.btnLineMid {
    position: absolute;
    bottom: 50%;
    left: 0%
}

.btnLineMidActived {
    opacity: 0;
    left: -50%
}


.btnLineBot {
    position: absolute;
    bottom: 0%;
}

.btnLineBotActived {
    transform: rotate(-225deg);
    bottom: 50%

}